/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Form styling */
form {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Label and input styling */
label {
    font-weight: bold;
}

select, textarea, button {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Navigation styling */
 nav {
    text-align: right;
    margin: 20px;
 }

/* Navigation Button Styling */
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4faf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.nav-button:hover {
    background-color: #45a049;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button-active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Button styling */
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Toast message styling */
#toast {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px 30px;
    border-radius: 8px;
    z-index: 1000;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.toast-success {
    background-color: #4CAF50;
}

.toast-error {
    background-color: #F44336;
}

/* Mood Stats Styling */

.mood-stats-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.mood-bar-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 25px;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.mood-bar {
    height: 100%;
}

.mood-bar.good {
    background-color: #4CAF50;
}

.mood-bar.neutral {
    background-color: #FFC107;
}

.mood-bar.bad {
    background-color: #F44336;
}

.mood-stats {
    margin: 15px 0;
    text-align: center;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
}

.back-link:hover {
    color: #4CAF50;
}